.header {
  height: 80px;
  background: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-column {
    margin: 0 22px;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 22px;
  }

  &-logo {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }

  &-link {
    font-family: 'Inter UI', sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.85);
    text-decoration: none;
  }
}

.border-green {
  padding: 6px 18px;
  color: #52C41A;
  border: 1px solid #52C41A;
  border-radius: 5px;
}
