$background-color-ticket: #FFFFFF;
$box-shadow-ticket: 0 2px 8px rgba(0, 0, 0, 0.1);
$font-family-ticket: 'Open Sans', sans-serif;
$color-ticket-price: #2196F3;
$color-ticket-title: #A0B0B9;
$color-ticket-content: #4A4A4A;
$background-button-color: #2196F3;
$button-color: #FFFFFF;
$font-family-button: 'Open Sans', sans-serif;

.container {
  margin: 26px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 26px;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 26px;
}
